{% extends 'base.html' %}
{% block content %}
<section class="flex h-screen w-screen items-center justify-center p-48" id="Home">
    <div class="mt-24 flex h-full w-full flex-col items-center justify-between rounded-md">
        <div class="mt-5 flex h-auto w-full flex-col items-center justify-center">
            <h1
                class="bg-gradient-to-tl from-secondary to-primary bg-clip-text text-center text-[5.1vw] font-extrabold text-transparent">
                Hello,</h1>
            <p class="-mt-5 w-[38vw] text-center text-sm text-dark sm:text-base md:text-lg lg:text-xl font-semibold">
                welcome to MedFinder. Search, discover, and discover the right medicines with ease.
            </p>
            <a href="{{ url_for('search') }}" class="uppercase mt-6 cursor-pointer text-xl md:text-3xl font-extrabold bg-gradient-to-tl from-secondary to-primary text-white px-24 py-3 rounded-xl inline-block transition duration-200 hover:bg-primary">
                Start
            </a>
        </div>
    </div>
</section>
{% endblock %}